[options]
HoldPkg     = pacman glibc
CleanMethod = KeepCurrent 
Architecture = auto
CacheDir = /var/cache/pacman/pkg
CacheDir = {{ build.repo.dest}}

# Misc options
{% for option in pacman.options %}
{{ option }}
{% endfor %}

SigLevel    = Required DatabaseOptional
LocalFileSigLevel = Optional

[core]
Include = /etc/pacman.d/mirrors.conf
Include = /etc/pacman.d/mirrorlist

[extra]
Include = /etc/pacman.d/mirrors.conf
Include = /etc/pacman.d/mirrorlist

[community]
Include = /etc/pacman.d/mirrors.conf
Include = /etc/pacman.d/mirrorlist

[multilib]
Include = /etc/pacman.d/mirrors.conf
Include = /etc/pacman.d/mirrorlist


{% for repo in pacman.repos %}
[{{ repo.name }}]
SigLevel = Optional TrustAll
{% if (pacserve.rc == 0) and pacserve.enabled %}
Include = /etc/pacman.d/pacserve
{% endif %}
Server = {{repo.server}}
{% endfor %}


[{{ build.repo.name }}]
SigLevel = Required DatabaseOptional
Server = file://{{ build.repo.dest }}


