Port 22
ListenAddress 0.0.0.0
PermitRootLogin yes
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys
PasswordAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck no
UsePAM yes

X11Forwarding yes 
PrintMotd no # pam does that
Subsystem	sftp	/usr/lib/ssh/sftp-server

# Disconnect idle users 
ClientAliveInterval 7200 # 120 minutes of idle (X11 forwarding counts as idle so give generous amounts of time)
ClientAliveCountMax 0

{% if not islab%}
AllowGroups {{ sshd_allowed_groups }}
{% endif %}
