[LightDM]
run-directory=/run/lightdm

[Seat:*]
greeter-session=lightdm-gtk-greeter
greeter-hide-users=true
greeter-show-manual-login=true
user-session={{ lightdm.user-session }}
{% if lightdm.session-wrapper %}
session-wrapper={{ lightdm.session-wrapper }}
{% endif %}
{% if lightdm.session-cleanup %}
session-cleanup-script={{ lightdm.session-cleanup }}
{% endif %}

[XDMCPServer]
[VNCServer]
