[Unit]
Description=Schedule reboot for systemd updates
AssertPathExists=/system-update
ConditionPathExists=!/var/lib/pacman/db.lck

[Service]
Type=oneshot
#ExecStart=/usr/bin/shutdown -r
ExecStart=/usr/local/bin/schedule-reboot

[Install]
WantedBy=basic.target
