[options]
HoldPkg     = pacman glibc
CleanMethod = KeepCurrent
Architecture = auto

# Pacman won't upgrade packages listed in IgnorePkg and members of IgnoreGroup
#IgnorePkg   =
#IgnoreGroup =

NoUpgrade   = {{ pacman.preserved_configs|join(", " )}}

# Misc options
{% for option in pacman.options %}
{{ option }}
{% endfor %}

SigLevel    = Required DatabaseOptional
LocalFileSigLevel = Optional

{% if ansible_hostname in pacman.canary_hosts %}
[testing]
 Include = /etc/pacman.d/mirrorlist
{% endif %}

[core]
{% if pac_pacserve.rc == 0 %}
Include = /etc/pacman.d/pacserve
{% endif %}
Include = /etc/pacman.d/mirrors.conf
Include = /etc/pacman.d/mirrorlist

[extra]
{% if pac_pacserve.rc == 0 %}
Include = /etc/pacman.d/pacserve
{% endif %}
Include = /etc/pacman.d/mirrors.conf
Include = /etc/pacman.d/mirrorlist

{% if ansible_hostname in pacman.canary_hosts %}
[community-testing]
Include = /etc/pacman.d/mirrorlist
{% endif %}

[community]
{% if pac_pacserve.rc == 0 %}
Include = /etc/pacman.d/pacserve
{% endif %}
Include = /etc/pacman.d/mirrors.conf
Include = /etc/pacman.d/mirrorlist

# If you want to run 32 bit applications on your x86_64 system,
# enable the multilib repositories as required here.

{% if ansible_hostname in pacman.canary_hosts %}
[multilib-testing]
Include = /etc/pacman.d/mirrorlist
{% endif %}

[multilib]
{% if pac_pacserve.rc == 0 %}
Include = /etc/pacman.d/pacserve
{% endif %}
Include = /etc/pacman.d/mirrors.conf
Include = /etc/pacman.d/mirrorlist

# 2019/06/07

{% for repo in pacman.repos %}
[{{ repo.name }}]
SigLevel = Optional TrustAll
{% if (pac_pacserve.rc == 0) and pacserve.enabled %}
Include = /etc/pacman.d/pacserve
{% endif %}
Server = {{repo.server}}

{% endfor %}
