[Desktop Entry]
Name={{ network.smb_share.name }}
Comment={{ network.smb_share.desktop_entry.comment }}
Exec={{ network.smb_share.inst }}
Icon=folder
Terminal=false
Type=Application
StartupNotify=false
Categories={{ network.smb_share.desktop_entry.categories }}
MimeType=inode/directory;application/x-gnome-saved-search;
